name: Python package

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test-on-linux:
    runs-on: ${{ matrix.os }}
    name: sunode - ${{ matrix.os }} - ${{ matrix.python-version }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        python-version: ["3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v3
      with:
        path: "sunode"
    - name: Install miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        activate-environment: sunode-dev
        miniforge-version: latest
        python-version: ${{ matrix.python-version }}
    - name: Install Dependences
      run: |
        conda install --yes conda-build conda-verify pytest pytest-cov hypothesis statsmodels pytensor c-compiler
    - name: Build package
      run: |
        conda build --variants "{python: [${{ matrix.python-version }}]}" ./sunode/conda
    - name: Install package 
      run: |
        conda install --yes -c file:///${CONDA_PREFIX}/conda-bld/ sunode
    - name: Test with coverage
      run: |
        # conda activate doesn't seem to set paths to the conda prefix correctly
        env LD_LIBRARY_PATH=${CONDA_PREFIX}/lib pytest --cov=sunode --cov-report xml --cov-report term-missing sunode
